@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

.showcase{
    margin-bottom: 40px;
    margin-right: 20px;
    width: 350px;
}

.showcase__title{
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
    color: #333;
    margin-bottom: 15px;
}