@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.App{
    padding: 50px;
}

.App>h1{
    color: #4F4F4F;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
}